body{
    .url {cursor: url(MAIN.cur),default;}
    background-color: #121619;
    color: #09814A;
}

.titlething{
    text-align: center;
}

.card1{
    text-align: center;
    border: #09814A;
    border-radius: 10px;
}

footer{
    text-align: center;
}

